In [2]:
import os
import numpy as np
import pandas as pd

dir2 = '/Users/yzhu16/Downloads/A3D3a/PGM_TCGA_project/Study Bias'

In [17]:
### study bias

g2pub = pd.read_csv(os.path.join(dir2,'gene2pubmed'),'\t')
g2pub = g2pub.loc[g2pub['#tax_id']==9606,]
g2pub.reset_index(inplace = True, drop = True)
print(g2pub.shape)
print(g2pub.head())

df = g2pub.groupby(['GeneID']).count()

counts_df = pd.DataFrame({'GeneID':df.index, 'count':df.PubMed_ID})
counts_df.reset_index(inplace = True, drop = True)
counts_df.head()

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3369: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

(1782530, 3)
   #tax_id  GeneID  PubMed_ID
0     9606       1    2591067
1     9606       1    3458201
2     9606       1    3610142
3     9606       1    8889549
4     9606       1   12477932

   GeneID  count
0       1     36
1       2    286
2       3      6
3       9    252
4      10    725

In [48]:
### convert geneID to gene symbol
import mygene

mg = mygene.MyGeneInfo()
xli = counts_df['GeneID'].values.tolist()
out = mg.querymany(xli, scopes='entrezgene', fields='symbol', species='human')

querying 1-1000...done.
querying 1001-2000...done.
querying 2001-3000...done.
querying 3001-4000...done.
querying 4001-5000...done.
querying 5001-6000...done.
querying 6001-7000...done.
querying 7001-8000...done.
querying 8001-9000...done.
querying 9001-10000...done.
querying 10001-11000...done.
querying 11001-12000...done.
querying 12001-13000...done.
querying 13001-14000...done.
querying 14001-15000...done.
querying 15001-16000...done.
querying 16001-17000...done.
querying 17001-18000...done.
querying 18001-19000...done.
querying 19001-20000...done.
querying 20001-21000...done.
querying 21001-22000...done.
querying 22001-23000...done.
querying 23001-24000...done.
querying 24001-25000...done.
querying 25001-26000...done.
querying 26001-27000...done.
querying 27001-28000...done.
querying 28001-29000...done.
querying 29001-30000...done.
querying 30001-31000...done.
querying 31001-32000...done.
querying 32001-33000...done.
querying 33001-34000...done.
querying 34001-35000...done.
querying 35001-36000...done.
querying 36001-37000...done.
querying 37001-38000...done.
querying 38001-39000...done.
querying 39001-40000...done.
querying 40001-41000...done.
querying 41001-42000...done.
querying 42001-43000...done.
querying 43001-44000...done.
querying 44001-44737...done.
Finished.
2 input query terms found no hit:
	['126264115', '126264116']
Pass "returnall=True" to return complete lists of duplicate or missing query terms.

In [51]:
x = []
for i in out:
    if len(i) not in x:
        x.append(len(i))
x

[4, 2]

In [52]:
gene_ids = []
gene_symbols = []
for i in out:
    if len(i)==4:   # if the query found a hit
        gene_ids.append(i['query'])
        gene_symbols.append(i['symbol'])
    else:
        if i['query']=='126264115':
            gene_ids.append(i['query'])
            gene_symbols.append('LOC'+i['query'])
        elif i['query']=='126264116':
            gene_ids.append(i['query'])
            gene_symbols.append('LOC'+i['query'])

print(len(gene_ids),len(gene_symbols))

44737 44737

In [59]:
[str(i) for i in xli]==gene_ids

True

In [63]:
counts_df['gene_symbol'] = gene_symbols

filename = os.path.join(dir2,'publications_all_genes.txt')
counts_df.to_csv(filename, sep = '\t')

counts_df.head()

   GeneID  count gene_symbol
0       1     36        A1BG
1       2    286         A2M
2       3      6       A2MP1
3       9    252        NAT1
4      10    725        NAT2